---
export interface Props {
  items: { label: string; href: string }[]
}

const { items } = Astro.props
---

<nav aria-label="Migas de pan">
  <ul class="breadcrumbs">
    {items.map((item, i) => (
      <li>
        {i < items.length - 1 ? (
          <a href={item.href}>{item.label}</a>
        ) : (
          <span aria-current="page">{item.label}</span>
        )}
      </li>
    ))}
  </ul>
</nav>
